
body{
background-image: url(css/bilder/beige.png);

}

#wrapper {
width: 100%;
margin-left: auto;
margin-right: auto;

}

header{
height: 80px;
width: 100%;
color: white;
background-color: black;
text-align: center;
text-shadow: 2px 2px 5px;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
outline-width: thick;
outline-style: double;
outline-color: white;
position: fixed;
}
nav{
height: 200px;
width: 100%;
background-color: #FFF8DC;
color: black;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}



main{
  height: 1050px;
  width: 30%;
  background-color: #FFF8DC;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  position: static;
  list-style-type: circle;


}
aside{
  height: 1050px;
  width: 70%;
  background-color: #FFF8DC;
  color: white;
  font-family: Arial, Helvetica, sans-serif;




}
footer{
  height: 100px;
  width: 100%;
  background-color: gray;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;


}
#container{
  display:flex;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
}

.img-cpu{
height: 100px;
}

.img-grafikkort{
  height: 100px;
}
.img-moderkort{
  height: 100px;
}
.img-ramminne{
  height: 100px;
}
.img-nätaggregat{
  height: 100px;
}
.img-chassi{
  height: 100px;
}
.img-hårddisk{
  height: 100px;
}
