body{

}
#wrapper {
width: 100%;
margin-left: auto;
margin-right: auto;

}

header{
height: 100px;
width: 100%;
background-color: inherit;
color: black;
text-align: center;
text-shadow: 2px 2px 5px;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
outline-width: medium;
outline-style: ridge;
outline-color: black;
}
nav{
height: 100px;
width: 100%;
background-color: inherit;
text-align: center;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;

 }


main{
  height: 350px;
  width: 15%;
  background-color: beige;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: circle;
  font-size: 20px;
  padding: 15px;
}
aside{
  height: 400px;
  width: 85%;
  background-color: inherit;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  padding: 15px;


}
footer{
  height: 100px;
  width: 100%;
  background-color: gray;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: static;

}
#container{
  display:flex;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
}

.img-cpu{
height: 300px;
  float: right;
}
.img-chassi{
  height: 300px;
  float: right;
}
.img-nätaggregat{
  height: 300px;
  float: right;
}
.img-ramminne{
  height: 200px;
  float: right;
}
.img-moderkort{
  height: 300px;
  float: right;
}
.img-grafikkort{
  height: 200px;
  float: right;
}
